@model IEnumerable<TicketManagement.MVC.Models.ViewModels.Area.AreaForCreatreEventViewModel>

@foreach (var item in Model)
{
    <div>
        <input id="" type="checkbox" value="@item.Description" />
    </div>
}