@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using TicketManagement.MVC.Areas.UserAccount.Pages.Manage
@using TicketManagement.MVC.Utilities
@model TicketManagement.MVC.Areas.UserAccount.Pages.Manage.IndexModel

@inject IOptions<RequestLocalizationOptions> LocOptions
@inject IViewLocalizer ViewLocalizer
@inject IStringLocalizer<Loc> StringLocalizer

@{
    ViewData["Title"] = ViewLocalizer["view.Title"];
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-1">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-1">
                <input asp-for="Input.FirstName" class="form-control" />
                <label asp-for="Input.FirstName" class="form-label"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-1">
                <input asp-for="Input.Surname" class="form-control" />
                <label asp-for="Input.Surname" class="form-label"></label>
                <span asp-validation-for="Input.Surname" class="text-danger"></span>
            </div>
            <div class="form-floating mb-1">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-1">
                <select asp-for="Input.Language" asp-items="@Model.Cultures" class="form-select"></select>
                <label asp-for="Input.Language" class="form-label"></label>
                <span asp-validation-for="Input.Language" class="text-danger"></span>
            </div>
            <div class="form-floating mb-1">
                <select asp-for="Input.TimeZoneId" asp-items="@Model.TimeZones" class="form-select"></select>
                <label asp-for="Input.TimeZoneId" class="form-label"></label>
                <span asp-validation-for="Input.TimeZoneId" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">@StringLocalizer["Save"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
